extends ../../layout
block feet
	script(src='/views/menu/index.min.js')
block content
	div#menu-page
		.heading
			h1.text-center Menu
		.wrap
			#menu
				table#menu-table.table.table-striped.table-bordered(class="display", cellspacing="0", width="100%")
					thead
						tr
							th
							th Món
							th Phân loại
							th Giá
							th Giá nhập



