extends ../../layout

block feet
	script(src='/views/table/index.min.js')

block content
	.w-center
		.heading
			h1 Tables
			br
			p	https://github.com/eguneys/drag-drop-sample/tree/master/app/public/js